// colors
$red: #e74c3c;
$not_white: #ecf0f1;

/*clearfix*/
.clear-fix:after{
  display: table;
  content: "";
  clear: both;
}

button{
    cursor: pointer;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
/*plate view*/
#plate_content{
    width: 1200px;
}
#plate{
    margin-left: 6px;
    font-family: sans-serif;
        width: 1440px;
}
.prp_btn{
    margin: .5em;
    font-size: 1.25em;
    float: right;
}

/*wells*/
.well{
    width: 120px;
    height: 120px;
    margin: 0 !important;
    border: 1px solid #222;
    display: inline-block;
    float: left;
    padding:.25em;
    box-sizing: border-box;
    position: relative;
}
.well-col-1{
    border-left: 2px solid #222;
}
.well-col-12{
    border-right: 2px solid #222;
}
.well-row-A{
    border-top: 2px solid #222;
}
.well-row-H{
    border-bottom: 2px solid #222;
}
.well-value{
    width: 100%;
    text-align: center;
    margin-top: .25em;
    font-size: .8em;
}
.well-id{
  float: left;
  position: absolute;
  left: .125em;
  top:.125em;
  font-weight: 500;
  font-weight: bold;
  font-size: .85em;
}
.well-order-id{
  float: left;
  position: absolute;
  right: .125em;
  top:.125em;
  font-weight: bold;
  font-size: .85em;
}
.well-order-id-input{
    margin-top: -.15em;
    width: 2em;
}
.well-none{
  float: left;
  position: absolute;
  left: 0%;
  width: 100%;
  text-align: center;
  bottom:.125em;
  font-weight: 500;
  font-size: 1em;
}
.well-standard{
  float: left;
  position: absolute;
  left: 0%;
  bottom: 25%;
  font-weight: 600;
  font-size: 1em;
}
.well-primer{
    @extend .well-standard;
    bottom: 22.5%;
}
.well-order-no{
    margin-left: 0;
    margin-top: -.35em;
    font-size: .75em;
    text-align: left;
    padding-left: 2.5%;
    margin-left: 25%;
    font-weight: bold;
    width:45%;
    transition: 300ms;
    &:focus{
        width:55%;
        padding-left: 1.25%;
        margin-left: 20%;
        font-size: 1em;
    }
}
.well-sample-id{
    text-align: left;
    font-size: .75em;
    margin-top: .25em;
}
.well-sample-id-input{
    width: 3em;
    transition: 300ms;
    &:focus{
        width: 50%;
    }
}
.well-sample-name{
    font-weight: bold;
    margin-bottom: 2em;
}
.well-primer{
    font-weight: bold;
}
.well-action{
    margin-top: -.85em;
    .well-action-btn{
        margin:0;
    }
}
.well-action-btn{

}
.well-save-btn{

}
.well-action-no-order{
    margin-top: 2em;
}
.well-order-no-order{
    width: 100%;
    margin-top: 1em;
}
/* well popup form */
.well-form{
    textarea,select{
        margin-left: 1em;
        float: left;
    }
    textarea{
        margin-bottom: 0%;
    }
    select{
        margin: .75%;
        margin-top: 1%;
    }
    label{
        width: 30%;
        float: left;
        // margin-right: 1em;
        margin:0;
        margin-top: 1%;
        vertical-align: top;
    }
    .btn{
        box-sizing: border-box;
        padding: .5em;
        border-radius: .25em;
        min-width: 3em;
        cursor: pointer;
        .txt{
            width: 100%;
            text-align: center;
            font-size: 1.25em;
        }
    }
    .well-text{
        width: 40%;
        margin:0;
        float: left;
        margin-left: 0.5%;
        margin-top: 1%;
        display: inline-block;
    }
    .well-order-id{
        margin-left: 0;
        margin-top: 0;
        font-weight: 500;
        font-size: 1.25em;
    }
    .well-id{
        margin-left: 0;
        margin-top: -1em;
        margin-bottom: .5em;
        font-weight: bold;
        font-size: 1.5em;
    }
    .well-sample-id{
        font-weight: 500;
        font-size: 1.25em;
    }
    .del-btn{
        color: $not_white !important;
        background-color: $red;
        float: left;
        position: absolute;
        right: 0;
        bottom: .5em;
        span{
            color: $not_white !important;
        }
        &:hover{
            color: $not_white;
            background-color: darken($red,15%);
        }
    }
}
#validate{
    width:100%;

    ul{
        padding:0;
        margin-left: 0;
        width: 30%;
        li{
            list-style-type: none;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

#overlay{
    width: 100%;
    height: 100%;
    color: #222;
    opacity: 0.6;
    float: left;
    position: absolute;
    left:0;
    top:0;
}
