/*clearfix*/
.clear-fix:after {
  display: table;
  content: "";
  clear: both; }

button {
  cursor: pointer; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/*plate view*/
#plate_content {
  width: 1200px; }

#plate {
  margin-left: 6px;
  font-family: sans-serif;
  width: 1440px; }

.prp_btn {
  margin: .5em;
  font-size: 1.25em;
  float: right; }

/*wells*/
.well {
  width: 120px;
  height: 120px;
  margin: 0 !important;
  border: 1px solid #222;
  display: inline-block;
  float: left;
  padding: .25em;
  box-sizing: border-box;
  position: relative; }

.well-col-1 {
  border-left: 2px solid #222; }

.well-col-12 {
  border-right: 2px solid #222; }

.well-row-A {
  border-top: 2px solid #222; }

.well-row-H {
  border-bottom: 2px solid #222; }

.well-value {
  width: 100%;
  text-align: center;
  margin-top: .25em;
  font-size: .8em; }

.well-id {
  float: left;
  position: absolute;
  left: .125em;
  top: .125em;
  font-weight: 500;
  font-weight: bold;
  font-size: .85em; }

.well-order-id {
  float: left;
  position: absolute;
  right: .125em;
  top: .125em;
  font-weight: bold;
  font-size: .85em; }

.well-order-id-input {
  margin-top: -.15em;
  width: 2em; }

.well-none {
  float: left;
  position: absolute;
  left: 0%;
  width: 100%;
  text-align: center;
  bottom: .125em;
  font-weight: 500;
  font-size: 1em; }

.well-standard, .well-primer {
  float: left;
  position: absolute;
  left: 0%;
  bottom: 25%;
  font-weight: 600;
  font-size: 1em; }

.well-primer {
  bottom: 22.5%; }

.well-order-no {
  margin-left: 0;
  margin-top: -.35em;
  font-size: .75em;
  text-align: left;
  padding-left: 2.5%;
  margin-left: 25%;
  font-weight: bold;
  width: 45%;
  transition: 300ms; }
  .well-order-no:focus {
    width: 55%;
    padding-left: 1.25%;
    margin-left: 20%;
    font-size: 1em; }

.well-sample-id {
  text-align: left;
  font-size: .75em;
  margin-top: .25em; }

.well-sample-id-input {
  width: 3em;
  transition: 300ms; }
  .well-sample-id-input:focus {
    width: 50%; }

.well-sample-name {
  font-weight: bold;
  margin-bottom: 2em; }

.well-primer {
  font-weight: bold; }

.well-action {
  margin-top: -.85em; }
  .well-action .well-action-btn {
    margin: 0; }

.well-action-no-order {
  margin-top: 2em; }

.well-order-no-order {
  width: 100%;
  margin-top: 1em; }

/* well popup form */
.well-form textarea, .well-form select {
  margin-left: 1em;
  float: left; }
.well-form textarea {
  margin-bottom: 0%; }
.well-form select {
  margin: .75%;
  margin-top: 1%; }
.well-form label {
  width: 30%;
  float: left;
  margin: 0;
  margin-top: 1%;
  vertical-align: top; }
.well-form .btn {
  box-sizing: border-box;
  padding: .5em;
  border-radius: .25em;
  min-width: 3em;
  cursor: pointer; }
  .well-form .btn .txt {
    width: 100%;
    text-align: center;
    font-size: 1.25em; }
.well-form .well-text {
  width: 40%;
  margin: 0;
  float: left;
  margin-left: 0.5%;
  margin-top: 1%;
  display: inline-block; }
.well-form .well-order-id {
  margin-left: 0;
  margin-top: 0;
  font-weight: 500;
  font-size: 1.25em; }
.well-form .well-id {
  margin-left: 0;
  margin-top: -1em;
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 1.5em; }
.well-form .well-sample-id {
  font-weight: 500;
  font-size: 1.25em; }
.well-form .del-btn {
  color: #ecf0f1 !important;
  background-color: #e74c3c;
  float: left;
  position: absolute;
  right: 0;
  bottom: .5em; }
  .well-form .del-btn span {
    color: #ecf0f1 !important; }
  .well-form .del-btn:hover {
    color: #ecf0f1;
    background-color: #bf2718; }

#validate {
  width: 100%; }
  #validate ul {
    padding: 0;
    margin-left: 0;
    width: 30%; }
    #validate ul li {
      list-style-type: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }

#overlay {
  width: 100%;
  height: 100%;
  color: #222;
  opacity: 0.6;
  float: left;
  position: absolute;
  left: 0;
  top: 0; }
